@import "mixins";

.c-btn {
	text-transform: uppercase;
	color: var(--color-carnation);
	padding: 14px 20px;
	font: normal 900 1.25rem/1 var(--font-primary);
	border: none;
	border-radius: 3px;
	background: none;
	overflow: hidden;
	position: relative;
	z-index: 0;
	cursor: pointer;
	outline: none;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background: var(--color-white);
		opacity: 0.2;
	}

	&:focus {
		@extend %focus-border-on-after;
	}

	&.m-large {
		background: var(--color-carnation);
		color: var(--color-white);
		padding: 18px 46px;

		&::before {
			opacity: 0;
		}
	}
}

.c-btn__name {
	position: relative;
	z-index: 1;
}