.c-card {
	color: var(--color-white);
	max-width: 320px;
}

.c-card__info {
	margin-top: 20px;
	min-height: 24px;

	> p {
		margin-top: 8px;
		color: var(--color-suva-gray);
		font-weight: bold;
		font-size: 0.875rem;
	}
}
.c-card__year-info {
	font-size: 0.875rem;
	float: right;
	padding: 4px 16px;
	border: 1px solid var(--color-emperor);
	border-radius: 3px;
}
.c-card__info-movie-title {
	font-size: 1.125rem;
	line-height: 1.3rem;
	color: var(--color-white);
}
