.c-input-search {
	height: 56px;
	display: inline-block;
	box-sizing: border-box;
	font: normal 400 1.125rem/1 var(--font-primary);;
	padding: 0 16px;
	border: none;
	border-radius: 3px;
	width: 100%;
}