.c-main-layout {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.c-main-layout__wrapper {
	max-width: 1200px;
	border-right: 60px solid transparent;
	border-left: 60px solid transparent;
	margin: 0 auto;
	box-sizing: border-box;
	height: 100%;
	position: relative;

	@media screen and (max-width: 767px) {
		border-right: 18px solid transparent;
		border-left: 18px solid transparent;
	}
}

.c-main-layout__header {
	background: url("../pictures/header-background.png") repeat-x center var(--color-black);
	height: 396px;
	padding-top: 15px;
	box-sizing: border-box;

	.c-logo {
		position: absolute;
		top: 3px;
	}
}

.c-main-layout__header-add-btn {
	position: absolute;
	top: 0;
	right: 0;
}

.c-main-layout__header-search-bar {
	max-width: 840px;
	padding: 90px 120px;

	@media screen and (max-width: 767px) {
		padding: 90px 0;
	}
}

.c-main-layout__header-form {
	display: flex;
	margin-top: 46px;
	gap: 15px;

	@media screen and (max-width: 479px) {
		flex-wrap: wrap;
	}

	.c-search-input {
		flex-grow: 1;
	}
}

.c-main-layout__main {
	background: var(--color-mine-shaft);
	flex-grow: 1;
	border-top: 10px solid var(--color-emperor);
}

.c-main-layout__main-menu {

	.c-menu {
		margin: 20px -14px 0;
		max-width: 744px;
	}
}

.c-main-layout__footer {
	background: var(--color-tundora);
	height: 70px;

	.c-logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}