@import "mixins";

.c-search-input {
	border-radius: 3px;
	position: relative;
	z-index: 0;
	display: inline-block;

	&:focus-within {
		@extend %focus-border-on-after;
	}

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background: var(--color-white);
		opacity: 0.1;
	}
}
.c-search-input__input {
	font: normal 400 1.125rem/1 var(--font-primary);
	padding: 0 16px;
	height: 56px;
	border: none;
	width: 100%;
	background: none;
	position: relative;
	z-index: 1;
	outline: none;
	color: var(--color-white);
	box-sizing: border-box;
}