:root {
	// color variables
	--color-white: #ffffff;
	--color-carnation: #f65261;
	--color-emperor: #555555;
	--color-black: #000000;
	--color-mine-shaft: #232323;
	--color-tundora: #424242;
	// font variables
	--font-primary: "Montserrat", sans-serif;
}